body{
    background-image: url("../image/img.png");
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: center;
    background-color: #484646 ;
    color: #fc5252;
    border-radius: 30px;
}
.content{
    overflow: auto;
    margin: 30px;
    border: 3px solid #484646;
    max-height: 700px;
    border-radius: 30px;
}
.list{
    margin: 30px;

}
.encadre{
    border-style: solid;
    border-color:#484646;
    background-color: #fc5252;
    display:flex;
    opacity: 80%;
}
.encadre:nth-child(even){
    display:flex;
    flex-direction: row-reverse;
}

.encadre:nth-child(odd){
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

h1{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.posterSeason{
    max-height: 200px;
    max-width: 100px;
}

.encadreSeason{
    border-style: solid;
    border-color:#484646;
    background-color: #fc5252;
    display:flex;
    margin: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    opacity: 80%;
}
.encadretitle{
    border-style: solid;
    border-color:#484646;
    background-color: #fc5252;
    margin: 10px;
    display:flex;
    flex-direction: row;
    opacity: 80%;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #484646;
    border-radius: 30px;
}
.encadreepisode{
    border-style: solid;
    border-color:#484646;
    background-color: #fc5252;
    margin: 10px;
    opacity: 80%;

}
.button{
    display: flex;
    justify-content: flex-start;
}
.poster, .posterSeason{
    margin: 5px;
}
.postersaisonepisode, .posterepisode{
    margin: 10px;
}
.filtre{
    color:#fc5252;
}

a {
    margin-left: .5em;
    margin-right: .5em;
    font-size: large;
    color: black;
}

.encadre:hover, .encadreSeason:hover, .encadreepisode:hover {
    background:#fc5220;
}

a:link {
    text-decoration: none;
}